<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-ncA0dvA9Z7uve5IHtONMginRA7jWoEI</string>
	<key>GCM_SENDER_ID</key>
	<string>995276352471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bluetoothCommApp</string>
	<key>PROJECT_ID</key>
	<string>bluetoothcommapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bluetoothcommapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995276352471:ios:e3221441b7304dcf467992</string>
</dict>
</plist>